@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 500; }

b, strong {
  font-weight: 500; }

em, i {
  font-style: normal; }

input {
  outline: none; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.clerafix {
  zoom: 1; }

img {
  border: 0;
  display: block; }

#top, #header, #nav, #con, #banner, #adsOne, #provider, #adsTwo, #womenWear, #menWear, #adsThree, #childrenWear, #underWear, #bag, #adsFour, #oranment, #shoes, #adsFive, #attestation, #link, #copyright, #bottom, #copyright, #formBox, #content {
  width: 1245px;
  margin: 0 auto; }

body {
  position: relative; }

#top {
  height: 34px;
  background: #f5f5f5;
  line-height: 34px; }
  #top h2 {
    font-size: 12px;
    color: #616161;
    margin-left: 50px;
    float: left; }
    #top h2 span {
      width: 18px;
      height: 18px;
      display: block;
      float: left;
      margin-top: 8px;
      background: url(../img/indexicos.png) no-repeat -1131px -37px; }
    #top h2 a {
      color: #616161; }
    #top h2 a:last-child {
      margin-left: 20px; }
    #top h2 a:hover {
      color: #fe3b68; }
  #top ul {
    margin-left: 150px;
    float: left; }
    #top ul li {
      height: 20px;
      float: left; }
      #top ul li span {
        width: 20px;
        height: 20px;
        display: block;
        float: left;
        margin: 8px 0 0 10px; }
      #top ul li a {
        color: #616161;
        font-size: 12px;
        padding: 0 10px 0 6px;
        border-right: 1px solid #ccc; }
      #top ul li a:hover {
        color: #fe3b68; }
      #top ul li #changeNum {
        color: #EE2346;
        font-size: 12px;
        background: #F5F5F5;
        float: none;
        display: inline; }
    #top ul li:nth-child(1) span {
      background: url(../img/indexicos.png) no-repeat -1175px -82px; }
    #top ul li:nth-child(2) span {
      background: url(../img/indexicos.png) no-repeat -1169px -36px; }
    #top ul li:nth-child(3) span {
      background: url(../img/indexicos.png) no-repeat -1149px -36px; }
    #top ul li:nth-child(4) span {
      background: url(../img/indexicos.png) no-repeat -1106px -36px; }
    #top ul li:nth-child(5) span {
      background: url(../img/indexicos.png) no-repeat -1171px -2px; }
    #top ul li:nth-child(6) span {
      background: url(../img/indexicos.png) no-repeat -1175px -103px; }
    #top ul li:nth-child(7) span {
      background: url(../img/newindexicos.png) no-repeat -3px -215px; }
    #top ul li:nth-child(8) span {
      background: url(../img/newindexicos.png) no-repeat -3px -242px; }
    #top ul li:last-child a {
      border: 0; }

#header {
  height: 102px;
  background: #fff;
  padding-top: 32px; }
  #header h2 {
    width: 254px;
    height: 62px;
    float: left;
    margin-left: 45px;
    background: url(../img/indexicos.png) no-repeat; }
  #header div {
    width: 520px;
    height: 70px;
    float: left;
    margin-left: 120px; }
    #header div div {
      width: 512px;
      height: 32px;
      margin-left: 0px;
      border: 3px solid #ee2346; }
      #header div div p {
        float: left;
        width: 58px;
        position: relative; }
        #header div div p span {
          color: #666;
          width: 56px;
          height: 30px;
          font-size: 12px;
          display: block;
          line-height: 30px;
          text-align: center;
          background: #FFFFFF;
          border: 1px solid #ccc; }
        #header div div p span:last-child {
          display: none;
          position: absolute;
          left: 0;
          top: 30px; }
      #header div div input {
        float: left; }
      #header div div #searchTxt {
        width: 390px;
        height: 32px;
        border: 0; }
      #header div div #searchBtn {
        width: 64px;
        height: 32px;
        border: 0;
        color: #fff;
        font-size: 12px;
        background: url(../img/indexicos.png) no-repeat -357px -1px; }
    #header div p {
      color: #919191;
      font-size: 12px;
      float: left; }
      #header div p span {
        margin-right: 8px; }
  #header section {
    width: 95px;
    height: 90px;
    float: right;
    margin-right: 20px;
    background: url(../img/indexicos.png) no-repeat -612px 0px; }

#nav {
  height: 42px;
  background: #3a3a3a; }
  #nav ul {
    padding-left: 50px; }
    #nav ul li {
      cursor: pointer;
      float: left; }
      #nav ul li a {
        display: block;
        width: 100px;
        height: 42px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 42px; }
      #nav ul li a:hover {
        background: #dd2b44; }
      #nav ul li a:nth-child(1) {
        position: relative; }
        #nav ul li a:nth-child(1) span {
          display: block;
          width: 22px;
          height: 10px;
          background: url(../img/indexicos.png) no-repeat -1167px -63px;
          position: absolute;
          top: -4px;
          left: 70px; }

#div-R {
  width: 26px;
  height: 100%;
  background: #433B38;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999; }
  #div-R ul {
    padding-top: 60px; }
    #div-R ul li {
      position: relative;
      margin: 30px 0; }
      #div-R ul li a {
        color: #FFFFFF;
        display: block; }
      #div-R ul li p {
        position: absolute; }
        #div-R ul li p a {
          display: block;
          width: 80px;
          height: 20px;
          background: #7FFF00; }
    #div-R ul li:nth-child(1) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0 -178px; }
    #div-R ul li:nth-child(1) p {
      position: absolute;
      top: -1px;
      right: 32px;
      display: none; }
      #div-R ul li:nth-child(1) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(1) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(1):hover p {
      display: block; }
    #div-R ul li:nth-child(2) {
      border-top: 1px solid #666666;
      border-bottom: 1px solid #666666;
      padding: 20px  0; }
      #div-R ul li:nth-child(2) i {
        display: block;
        width: 26px;
        height: 26px;
        background: url(../img/newindexicos.png) no-repeat 2px -78px; }
      #div-R ul li:nth-child(2) a {
        display: block;
        width: 26px;
        height: 68px;
        font-size: 14px;
        text-align: center; }
      #div-R ul li:nth-child(2) span {
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px 0 0 3px;
        border-radius: 10px;
        background: #EE2346; }
    #div-R ul li:nth-child(3) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 2px -111px; }
    #div-R ul li:nth-child(3) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(3) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(3) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(3):hover p {
      display: block; }
    #div-R ul li:nth-child(4) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 2px -44px; }
    #div-R ul li:nth-child(4) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(4) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(4) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(4):hover p {
      display: block; }
    #div-R ul li:nth-child(5) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0 -148px; }
    #div-R ul li:nth-child(5) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(5) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(5) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(5):hover p {
      display: block; }
    #div-R ul li:nth-child(6) {
      position: relative;
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0px -270px; }
      #div-R ul li:nth-child(6) img {
        width: 100px;
        height: 100px;
        position: absolute;
        display: none;
        top: 10px;
        right: 40px; }
    #div-R ul li:nth-child(6):hover img {
      display: block; }

#con {
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 30px; }
  #con section:first-child {
    float: left;
    width: 200px;
    margin-left: 40px; }
    #con section:first-child .GYSdangan {
      border: 1px solid #cac9c9;
      border-top: 3px solid #DD465E; }
      #con section:first-child .GYSdangan .GYSdanganup {
        border-bottom: 1px solid #dedede;
        padding: 10px 8px 10px 8px; }
        #con section:first-child .GYSdangan .GYSdanganup h2 {
          color: #DD465E; }
        #con section:first-child .GYSdangan .GYSdanganup h3 {
          font-size: 12px;
          margin-top: 15px; }
        #con section:first-child .GYSdangan .GYSdanganup h4 {
          margin-top: 5px;
          width: 110px;
          height: 20px;
          background: url(../img/register/xqing_bg.png) no-repeat -84px 0; }
        #con section:first-child .GYSdangan .GYSdanganup p {
          margin-top: 12px;
          color: #cac9c9;
          font-size: 12px; }
      #con section:first-child .GYSdangan .GYSdangandown {
        text-align: center;
        padding: 20px 0; }
        #con section:first-child .GYSdangan .GYSdangandown a {
          display: block; }
        #con section:first-child .GYSdangan .GYSdangandown input {
          width: 140px;
          height: 30px;
          margin-top: 15px;
          background: #DD465E;
          border: 1px solid #d3556a; }
    #con section:first-child .zixun {
      margin-top: 20px;
      padding: 10px 10px 10px 15px;
      border: 1px solid #cac9c9;
      border-top: 3px solid #DD465E; }
      #con section:first-child .zixun h2 {
        color: #DD465E; }
      #con section:first-child .zixun p {
        margin-top: 10px;
        overflow: hidden; }
        #con section:first-child .zixun p span {
          width: 77px;
          height: 18px;
          display: block;
          float: left;
          background: url(../img/register/qq_icon.png) no-repeat; }
        #con section:first-child .zixun p span:last-child {
          margin-left: 7px;
          background: url(../img/register/ww.gif) no-repeat 0px -3px; }
    #con section:first-child .LXlist {
      margin-top: 20px;
      padding: 10px 10px 10px 15px;
      border: 1px solid #cac9c9;
      border-top: 3px solid #DD465E;
      color: #636363;
      font-size: 12px; }
      #con section:first-child .LXlist h2 {
        color: #DD465E;
        font-size: 16px; }
      #con section:first-child .LXlist dl {
        margin-top: 15px; }
        #con section:first-child .LXlist dl dt {
          width: 167px;
          height: 30px;
          background: url(../img/register/xqing_bg.png) no-repeat 0 -463px;
          cursor: pointer;
          text-indent: 10px;
          line-height: 30px; }
          #con section:first-child .LXlist dl dt i {
            width: 20px;
            height: 30px;
            display: block;
            float: left;
            background: url(../img/register/xqing_bg.png) no-repeat 5px -83px; }
        #con section:first-child .LXlist dl dd {
          display: none; }
          #con section:first-child .LXlist dl dd ul li dl {
            margin-top: 10px; }
            #con section:first-child .LXlist dl dd ul li dl dt {
              padding-left: 15px;
              background: url(../img/register/xqing_bg.jpg) no-repeat 0 -463px; }
            #con section:first-child .LXlist dl dd ul li dl dd {
              display: none;
              margin-top: 5px;
              padding-left: 46px; }
  #con .cartList {
    float: left;
    margin-left: 15px;
    width: 930px;
    min-height: 400px;
    overflow: hidden;
    border: 1px solid #919191;
    padding: 15px; }
    #con .cartList h2 {
      overflow: hidden;
      border-bottom: 1px solid #433B38; }
      #con .cartList h2 span {
        display: block;
        width: 120px;
        height: 30px;
        background: #DD465E;
        border-radius: 3px;
        line-height: 30px;
        text-align: center; }
    #con .cartList .goodInfo {
      margin-top: 20px;
      border-bottom: 1px solid #666666;
      border-top: none;
      height: 70px;
      overflow: hidden;
      line-height: 70px; }
      #con .cartList .goodInfo li {
        float: left;
        width: 140px;
        height: 70px;
        float: left;
        font-size: 12px;
        text-align: center; }
        #con .cartList .goodInfo li input {
          width: 34px;
          text-align: center;
          height: 20px; }
        #con .cartList .goodInfo li img {
          width: 70px;
          height: 50px;
          margin-top: 5px;
          text-align: center; }
      #con .cartList .goodInfo li:first-child {
        width: 60px; }
      #con .cartList .goodInfo li:last-child a {
        color: black; }
      #con .cartList .goodInfo .num a {
        display: inline-block;
        width: 15px;
        height: 20px;
        font: 20px/16px "";
        background: #DD465E;
        text-decoration: none;
        border-radius: 10px; }
    #con .cartList .blank {
      min-height: 50px;
      font-size: 12px;
      text-align: center;
      border-top: none;
      display: none; }
    #con .cartList #heji {
      float: right; }
      #con .cartList #heji #counts {
        font-size: 16px;
        color: #DD465E;
        margin-right: 25px; }
        #con .cartList #heji #counts #countspan {
          font-size: 18px;
          color: #EE2346; }
      #con .cartList #heji #buybuybuy {
        width: 120px;
        height: 30px;
        border: 2px solid #EE2346;
        background: #DD465E;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 10px; }

#link {
  height: 194px;
  padding-top: 40px;
  border-top: 1px solid #CCCCCC; }
  #link #link-box {
    padding-left: 130px;
    float: left; }
    #link #link-box ul {
      float: left;
      margin-right: 120px; }
      #link #link-box ul li a {
        color: #666666;
        font-size: 12px; }
      #link #link-box ul li:first-child {
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px; }
  #link #ewm {
    float: left;
    margin-left: 90px; }
    #link #ewm h2 {
      color: #666666;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px; }
    #link #ewm img {
      width: 100px;
      height: 100px; }
