@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 500; }

b, strong {
  font-weight: 500; }

em, i {
  font-style: normal; }

input {
  outline: none; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.clerafix {
  zoom: 1; }

img {
  border: 0;
  display: block; }

#top, #header, #nav, #con, #banner, #adsOne, #provider, #adsTwo, #womenWear, #menWear, #adsThree, #childrenWear, #underWear, #bag, #adsFour, #oranment, #shoes, #adsFive, #attestation, #link, #copyright, #bottom, #copyright, #formBox, #content {
  width: 1245px;
  margin: 0 auto; }

#top {
  height: 34px;
  background: #f5f5f5;
  line-height: 34px; }
  #top h2 {
    font-size: 12px;
    color: #616161;
    margin-left: 50px;
    float: left; }
    #top h2 span {
      width: 18px;
      height: 18px;
      display: block;
      float: left;
      margin-top: 8px;
      background: url(../img/indexicos.png) no-repeat -1131px -37px; }
    #top h2 a {
      color: #616161; }
    #top h2 a:last-child {
      margin-left: 20px; }
    #top h2 a:hover {
      color: #fe3b68; }
  #top ul {
    margin-left: 150px;
    float: left; }
    #top ul li {
      height: 20px;
      float: left; }
      #top ul li span {
        width: 20px;
        height: 20px;
        display: block;
        float: left;
        margin: 8px 0 0 10px; }
      #top ul li a {
        color: #616161;
        font-size: 12px;
        padding: 0 10px 0 6px;
        border-right: 1px solid #ccc; }
      #top ul li a:hover {
        color: #fe3b68; }
      #top ul li #changeNum {
        color: #EE2346;
        font-size: 12px;
        background: #F5F5F5;
        float: none;
        display: inline; }
    #top ul li:nth-child(1) span {
      background: url(../img/indexicos.png) no-repeat -1175px -82px; }
    #top ul li:nth-child(2) span {
      background: url(../img/indexicos.png) no-repeat -1169px -36px; }
    #top ul li:nth-child(3) span {
      background: url(../img/indexicos.png) no-repeat -1149px -36px; }
    #top ul li:nth-child(4) span {
      background: url(../img/indexicos.png) no-repeat -1106px -36px; }
    #top ul li:nth-child(5) span {
      background: url(../img/indexicos.png) no-repeat -1171px -2px; }
    #top ul li:nth-child(6) span {
      background: url(../img/indexicos.png) no-repeat -1175px -103px; }
    #top ul li:nth-child(7) span {
      background: url(../img/newindexicos.png) no-repeat -3px -215px; }
    #top ul li:nth-child(8) span {
      background: url(../img/newindexicos.png) no-repeat -3px -242px; }
    #top ul li:last-child a {
      border: 0; }

#header {
  width: 1195px;
  height: 100px;
  padding: 40px 0 0 50px; }
  #header h2 {
    width: 472px;
    height: 85px;
    background: url(../img/logo.png) no-repeat; }

#nav {
  height: 42px;
  background: #3a3a3a; }
  #nav ul {
    padding-left: 50px; }
    #nav ul li {
      cursor: pointer;
      float: left; }
      #nav ul li a {
        display: block;
        width: 100px;
        height: 42px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 42px; }
      #nav ul li a:hover {
        background: #dd2b44; }
      #nav ul li a:nth-child(1) {
        position: relative; }
        #nav ul li a:nth-child(1) span {
          display: block;
          width: 22px;
          height: 10px;
          background: url(../img/indexicos.png) no-repeat -1167px -63px;
          position: absolute;
          top: -4px;
          left: 70px; }

#div-R {
  width: 26px;
  height: 100%;
  background: #433B38;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999; }
  #div-R ul {
    padding-top: 60px; }
    #div-R ul li {
      position: relative;
      margin: 30px 0; }
      #div-R ul li a {
        color: #FFFFFF;
        display: block; }
      #div-R ul li p {
        position: absolute; }
        #div-R ul li p a {
          display: block;
          width: 80px;
          height: 20px;
          background: #7FFF00; }
    #div-R ul li:nth-child(1) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0 -178px; }
    #div-R ul li:nth-child(1) p {
      position: absolute;
      top: -1px;
      right: 32px;
      display: none; }
      #div-R ul li:nth-child(1) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(1) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(1):hover p {
      display: block; }
    #div-R ul li:nth-child(2) {
      border-top: 1px solid #666666;
      border-bottom: 1px solid #666666;
      padding: 20px  0; }
      #div-R ul li:nth-child(2) i {
        display: block;
        width: 26px;
        height: 26px;
        background: url(../img/newindexicos.png) no-repeat 2px -78px; }
      #div-R ul li:nth-child(2) a {
        display: block;
        width: 26px;
        height: 68px;
        font-size: 14px;
        text-align: center; }
      #div-R ul li:nth-child(2) span {
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        font-size: 12px;
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px 0 0 3px;
        border-radius: 10px;
        background: #EE2346; }
    #div-R ul li:nth-child(3) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 2px -111px; }
    #div-R ul li:nth-child(3) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(3) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(3) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(3):hover p {
      display: block; }
    #div-R ul li:nth-child(4) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 2px -44px; }
    #div-R ul li:nth-child(4) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(4) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(4) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(4):hover p {
      display: block; }
    #div-R ul li:nth-child(5) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0 -148px; }
    #div-R ul li:nth-child(5) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(5) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(5) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(5):hover p {
      display: block; }
    #div-R ul li:nth-child(6) {
      position: relative;
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0px -270px; }
      #div-R ul li:nth-child(6) img {
        width: 100px;
        height: 100px;
        position: absolute;
        display: none;
        top: 10px;
        right: 40px; }
    #div-R ul li:nth-child(6):hover img {
      display: block; }

#reference {
  overflow: hidden; }
  #reference p {
    padding: 5px 0 0 70px; }
    #reference p span {
      display: block;
      padding: 5px 10px;
      float: left;
      border: 1px dashed #CCCCCC;
      font-size: 12px;
      color: #666666; }
    #reference p span:last-of-type {
      border: 0;
      color: #000000; }
      #reference p span:last-of-type b {
        color: #dd465e;
        margin: 0 3px; }
    #reference p i {
      float: left;
      margin: 0 20px 0 10px; }
    #reference p input {
      width: 132px;
      height: 26px;
      border: 1px solid #CCCCCC;
      float: left;
      border-right: 0; }
    #reference p span:nth-of-type(4) {
      border: 1px solid #CCCCCC;
      border-left: 0;
      width: 0px;
      height: 16px;
      display: block;
      background: url(../img/register/supplier-search.png) no-repeat -78px -4px; }

#Key {
  width: 1203px;
  margin: 0 auto;
  border: 1px solid #919191;
  overflow: hidden;
  margin-top: 8px; }
  #Key section {
    border-right: 1px dashed #CCCCCC;
    float: left; }
    #Key section div {
      width: 300px;
      height: 184px;
      padding-top: 45px; }
      #Key section div h3 {
        padding-left: 25px;
        color: #3A3A3A;
        font-size: 12px;
        margin-bottom: 20px; }
      #Key section div span {
        color: #666666;
        font-size: 12px;
        margin: 25px 0 0 25px; }
    #Key section div:hover {
      box-shadow: 1px 1px 5px 2px #919191; }
  #Key section:nth-of-type(4) {
    border: 0; }
  #Key h2 {
    float: left;
    width: 100%;
    height: 32px;
    padding-left: 18px;
    background: #f5f5f5; }
    #Key h2 span {
      width: 90px;
      font-size: 16px;
      line-height: 16px;
      padding: 6px 0;
      text-align: center;
      display: block;
      border-bottom: 4px solid #DD465E; }
  #Key article {
    border: 0;
    width: 100%;
    height: auto;
    padding: 10px 0 0 13px;
    overflow: hidden; }
    #Key article .btnlist {
      width: 100%;
      height: auto;
      overflow: hidden; }
      #Key article .btnlist input {
        float: left;
        width: 78px;
        height: 32px;
        border: 1px solid #CCCCCC;
        background: #FFFFFF; }
      #Key article .btnlist p {
        height: 30px;
        float: left; }
        #Key article .btnlist p input {
          width: 54px;
          height: 20px;
          border: 1px solid #CCCCCC; }
        #Key article .btnlist p label {
          color: #887474;
          font-size: 12px;
          float: left; }
        #Key article .btnlist p span {
          color: #887474;
          font-size: 12px;
          float: left; }
        #Key article .btnlist p i {
          display: block;
          width: 54px;
          height: 20px;
          float: left;
          border: 1px solid #CCCCCC; }
        #Key article .btnlist p #max-price {
          margin-right: 40px; }
      #Key article .btnlist p:first-of-type {
        border: 1px solid #CCCCCC;
        line-height: 23px;
        padding-top: 4px;
        height: 26px; }
      #Key article .btnlist p:last-of-type {
        position: relative; }
        #Key article .btnlist p:last-of-type input:first-of-type {
          border-right: 0; }
        #Key article .btnlist p:last-of-type input:last-of-type {
          border-left: 0; }
        #Key article .btnlist p:last-of-type span {
          position: absolute;
          top: 9px;
          left: 38px; }
      #Key article .btnlist #SZDbtn {
        width: 112px;
        margin-left: 20px; }
      #Key article .btnlist #datubtn {
        width: 54px;
        background: url(../img/register/supplier-search.png) no-repeat -11px -742px;
        color: #FFFFFF;
        margin-left: 220px; }
      #Key article .btnlist #listbtn {
        width: 54px;
        color: #dd465e;
        background: url(../img/register/supplier-search.png) no-repeat -77px -652px; }
      #Key article .btnlist p:last-of-type input {
        width: 50px;
        height: 32px; }
    #Key article .checkBox {
      padding: 20px 0; }

#content {
  width: 1205px;
  overflow: hidden;
  padding-top: 10px; }
  #content section {
    padding-left: 9px; }
    #content section dl {
      width: 230px;
      float: left;
      margin-right: 9px; }
      #content section dl dt img {
        width: 230px;
        height: 230px; }
      #content section dl dd {
        padding: 2px 20px 10px 8px; }
        #content section dl dd h3 {
          color: #DD465E; }
        #content section dl dd p {
          color: #3c3c3c;
          font-size: 12px; }
        #content section dl dd span {
          display: block;
          font-size: 12px;
          color: #666666;
          margin-top: 3px; }

#link {
  height: 194px;
  padding-top: 40px;
  border-top: 1px solid #CCCCCC; }
  #link #link-box {
    padding-left: 130px;
    float: left; }
    #link #link-box ul {
      float: left;
      margin-right: 120px; }
      #link #link-box ul li a {
        color: #666666;
        font-size: 12px; }
      #link #link-box ul li:first-child {
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px; }
  #link #ewm {
    float: left;
    margin-left: 90px; }
    #link #ewm h2 {
      color: #666666;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px; }
    #link #ewm img {
      width: 100px;
      height: 100px; }
