@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 500; }

b, strong {
  font-weight: 500; }

em, i {
  font-style: normal; }

input {
  outline: none; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden; }

.clerafix {
  zoom: 1; }

img {
  border: 0;
  display: block; }

#top, #header, #nav, #con, #banner, #adsOne, #provider, #adsTwo, #womenWear, #menWear, #adsThree, #childrenWear, #underWear, #bag, #adsFour, #oranment, #shoes, #adsFive, #attestation, #link, #copyright, #bottom, #copyright, #formBox, #content {
  width: 1245px;
  margin: 0 auto; }

body {
  position: relative; }

#top {
  height: 34px;
  background: #f5f5f5;
  line-height: 34px; }
  #top h2 {
    font-size: 12px;
    color: #616161;
    margin-left: 50px;
    float: left; }
    #top h2 span {
      width: 18px;
      height: 18px;
      display: block;
      float: left;
      margin-top: 8px;
      background: url(../img/indexicos.png) no-repeat -1131px -37px; }
    #top h2 a {
      color: #616161; }
    #top h2 a:last-child {
      margin-left: 20px; }
    #top h2 a:hover {
      color: #fe3b68; }
  #top ul {
    margin-left: 440px;
    float: left; }
    #top ul li {
      height: 20px;
      float: left; }
      #top ul li span {
        width: 20px;
        height: 20px;
        display: block;
        float: left;
        margin: 8px 0 0 10px; }
      #top ul li a {
        color: #616161;
        font-size: 12px;
        padding: 0 10px 0 6px;
        border-right: 1px solid #ccc; }
      #top ul li a:hover {
        color: #fe3b68; }
    #top ul li:nth-child(1) span {
      background: url(../img/indexicos.png) no-repeat -1169px -36px; }
    #top ul li:nth-child(2) span {
      background: url(../img/indexicos.png) no-repeat -1149px -36px; }
    #top ul li:nth-child(3) span {
      background: url(../img/indexicos.png) no-repeat -1106px -36px; }
    #top ul li:nth-child(4) span {
      background: url(../img/indexicos.png) no-repeat -1171px -3px; }
    #top ul li:nth-child(5) span {
      background: url(../img/indexicos.png) no-repeat 0px -350px; }
    #top ul li:last-child a {
      border: 0; }

#header {
  height: 102px;
  background: #fff;
  padding-top: 32px; }
  #header h2 {
    width: 254px;
    height: 62px;
    float: left;
    margin-left: 45px;
    background: url(../img/indexicos.png) no-repeat; }
  #header div {
    width: 520px;
    height: 70px;
    float: left;
    margin-left: 120px; }
    #header div div {
      width: 512px;
      height: 32px;
      margin-left: 0px;
      border: 3px solid #ee2346; }
      #header div div p {
        float: left;
        width: 58px;
        position: relative; }
        #header div div p span {
          color: #666;
          width: 56px;
          height: 30px;
          font-size: 12px;
          display: block;
          line-height: 30px;
          text-align: center;
          background: #FFFFFF;
          border: 1px solid #ccc; }
        #header div div p span:last-child {
          display: none;
          position: absolute;
          left: 0;
          top: 30px; }
      #header div div input {
        float: left; }
      #header div div #searchTxt {
        width: 390px;
        height: 32px;
        border: 0; }
      #header div div #searchBtn {
        width: 64px;
        height: 32px;
        border: 0;
        color: #fff;
        font-size: 12px;
        background: url(../img/indexicos.png) no-repeat -357px -1px; }
    #header div p {
      color: #919191;
      font-size: 12px;
      float: left; }
      #header div p span {
        margin-right: 8px; }
  #header section {
    width: 95px;
    height: 90px;
    float: right;
    margin-right: 20px;
    background: url(../img/indexicos.png) no-repeat -612px 0px; }

#nav {
  height: 42px;
  background: #3a3a3a; }
  #nav ul {
    padding-left: 50px; }
    #nav ul li {
      cursor: pointer;
      float: left; }
      #nav ul li a {
        display: block;
        width: 100px;
        height: 42px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 42px; }
      #nav ul li a:hover {
        background: #dd2b44; }
      #nav ul li a:nth-child(1) {
        position: relative; }
        #nav ul li a:nth-child(1) span {
          display: block;
          width: 22px;
          height: 10px;
          background: url(../img/indexicos.png) no-repeat -1167px -63px;
          position: absolute;
          top: -4px;
          left: 70px; }

#div-L {
  width: 348px;
  height: 522px;
  position: absolute;
  top: 88px;
  left: -266px;
  z-index: 1111; }
  #div-L section:first-child {
    width: 266px;
    height: 522px;
    float: left;
    background: #DD2B44; }
    #div-L section:first-child div {
      margin: 23px 0 0 46px; }
      #div-L section:first-child div a {
        width: 174px;
        height: 102px;
        display: block; }
    #div-L section:first-child div:nth-child(1) a {
      background: url(../img/ljmhs.png) no-repeat 0px -18px; }
    #div-L section:first-child div:nth-child(2) a {
      background: url(../img/ljmhs.png) no-repeat 0px -126px; }
    #div-L section:first-child div:nth-child(3) a {
      background: url(../img/ljmhs.png) no-repeat 0px -248px; }
    #div-L section:first-child div:nth-child(4) a {
      background: url(../img/ljmhs.png) no-repeat 0px -368px; }
  #div-L section:last-child {
    width: 82px;
    height: 522px;
    float: left;
    background: url(../img/left-btn.png) no-repeat; }

#div-R {
  width: 26px;
  height: 100%;
  background: #433B38;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999; }
  #div-R ul {
    padding-top: 60px; }
    #div-R ul li {
      position: relative;
      margin: 30px 0; }
      #div-R ul li a {
        color: #FFFFFF;
        display: block; }
      #div-R ul li p {
        position: absolute; }
        #div-R ul li p a {
          display: block;
          width: 80px;
          height: 20px;
          background: #7FFF00; }
    #div-R ul li:nth-child(1) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0 -178px; }
    #div-R ul li:nth-child(1) p {
      position: absolute;
      top: -1px;
      right: 32px;
      display: none; }
      #div-R ul li:nth-child(1) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(1) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(1):hover p {
      display: block; }
    #div-R ul li:nth-child(2) {
      border-top: 1px solid #666666;
      border-bottom: 1px solid #666666;
      padding: 20px  0; }
      #div-R ul li:nth-child(2) i {
        display: block;
        width: 26px;
        height: 26px;
        background: url(../img/newindexicos.png) no-repeat 2px -78px; }
      #div-R ul li:nth-child(2) a {
        display: block;
        width: 26px;
        height: 68px;
        font-size: 14px;
        text-align: center; }
      #div-R ul li:nth-child(2) span {
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        font-size: 12px;
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px 0 0 3px;
        border-radius: 10px;
        background: #EE2346; }
    #div-R ul li:nth-child(3) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 2px -111px; }
    #div-R ul li:nth-child(3) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(3) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(3) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(3):hover p {
      display: block; }
    #div-R ul li:nth-child(4) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 2px -44px; }
    #div-R ul li:nth-child(4) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(4) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(4) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(4):hover p {
      display: block; }
    #div-R ul li:nth-child(5) a {
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0 -148px; }
    #div-R ul li:nth-child(5) p {
      display: none;
      position: absolute;
      top: -1px;
      right: 32px; }
      #div-R ul li:nth-child(5) p a {
        width: 100px;
        height: 30px;
        background: #3A3A3A;
        line-height: 30px;
        text-align: center;
        position: relative; }
        #div-R ul li:nth-child(5) p a b {
          color: #3A3A3A;
          font-size: 22px;
          position: absolute;
          top: 0px;
          right: -7px; }
    #div-R ul li:nth-child(5):hover p {
      display: block; }
    #div-R ul li:nth-child(6) {
      position: relative;
      width: 26px;
      height: 26px;
      background: url(../img/newindexicos.png) no-repeat 0px -270px; }
      #div-R ul li:nth-child(6) img {
        width: 100px;
        height: 100px;
        position: absolute;
        display: none;
        top: 10px;
        right: 40px; }
    #div-R ul li:nth-child(6):hover img {
      display: block; }

#banner {
  height: 499px;
  background: #fff;
  padding: 3px 0 0 45px; }
  #banner #ban1 {
    width: 230px;
    height: 496px;
    float: left;
    position: relative;
    background: url(../img/indexicos.png) no-repeat 0px -927px; }
    #banner #ban1 ul li {
      height: 56px;
      text-align: left;
      padding: 6px 0 0 10px; }
      #banner #ban1 ul li a {
        display: block;
        color: #fff;
        font-size: 14px;
        font-family: "iconfont";
        padding: 18px 0 18px 40px; }
      #banner #ban1 ul li a:hover {
        color: #dd2b44;
        background: #fff; }
      #banner #ban1 ul li #FC1, #banner #ban1 ul li #FC2, #banner #ban1 ul li #FC3, #banner #ban1 ul li #FC4, #banner #ban1 ul li #FC5, #banner #ban1 ul li #FC6, #banner #ban1 ul li #FC7, #banner #ban1 ul li #FC8 {
        width: 280px;
        height: 474px;
        background: #FFFFFF;
        position: absolute;
        top: 0px;
        left: 230px;
        z-index: 99999;
        display: none;
        padding: 10px;
        border: 1px solid #CCCCCC; }
        #banner #ban1 ul li #FC1 h2, #banner #ban1 ul li #FC2 h2, #banner #ban1 ul li #FC3 h2, #banner #ban1 ul li #FC4 h2, #banner #ban1 ul li #FC5 h2, #banner #ban1 ul li #FC6 h2, #banner #ban1 ul li #FC7 h2, #banner #ban1 ul li #FC8 h2 {
          padding: 5px 0 0 3px;
          border-bottom: 1px solid black; }
          #banner #ban1 ul li #FC1 h2 a, #banner #ban1 ul li #FC2 h2 a, #banner #ban1 ul li #FC3 h2 a, #banner #ban1 ul li #FC4 h2 a, #banner #ban1 ul li #FC5 h2 a, #banner #ban1 ul li #FC6 h2 a, #banner #ban1 ul li #FC7 h2 a, #banner #ban1 ul li #FC8 h2 a {
            color: #3A3A3A;
            font-size: 16px;
            font-weight: 700; }
          #banner #ban1 ul li #FC1 h2 a:hover, #banner #ban1 ul li #FC2 h2 a:hover, #banner #ban1 ul li #FC3 h2 a:hover, #banner #ban1 ul li #FC4 h2 a:hover, #banner #ban1 ul li #FC5 h2 a:hover, #banner #ban1 ul li #FC6 h2 a:hover, #banner #ban1 ul li #FC7 h2 a:hover, #banner #ban1 ul li #FC8 h2 a:hover {
            color: #EE2346; }
        #banner #ban1 ul li #FC1 a, #banner #ban1 ul li #FC2 a, #banner #ban1 ul li #FC3 a, #banner #ban1 ul li #FC4 a, #banner #ban1 ul li #FC5 a, #banner #ban1 ul li #FC6 a, #banner #ban1 ul li #FC7 a, #banner #ban1 ul li #FC8 a {
          color: #666666;
          font-size: 12px;
          margin: 8px 10px 0 5px;
          display: inline;
          padding: 0; }
        #banner #ban1 ul li #FC1 a:hover, #banner #ban1 ul li #FC2 a:hover, #banner #ban1 ul li #FC3 a:hover, #banner #ban1 ul li #FC4 a:hover, #banner #ban1 ul li #FC5 a:hover, #banner #ban1 ul li #FC6 a:hover, #banner #ban1 ul li #FC7 a:hover, #banner #ban1 ul li #FC8 a:hover {
          color: #EE2346; }
  #banner #ban2 {
    width: 540px;
    height: 496px;
    float: left;
    margin-left: 10px; }
    #banner #ban2 section:first-child {
      width: 540px;
      height: 280px;
      background: aqua; }
      #banner #ban2 section:first-child .topUla {
        position: relative;
        height: 280px; }
        #banner #ban2 section:first-child .topUla li {
          position: absolute;
          top: 0;
          left: 0; }
          #banner #ban2 section:first-child .topUla li img {
            width: 540px;
            height: 280px; }
        #banner #ban2 section:first-child .topUla .btn_la {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0px -88px;
          position: absolute;
          left: 0px;
          top: 110px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban2 section:first-child .topUla .btn_ra {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0 -199px;
          position: absolute;
          right: 0px;
          top: 110px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban2 section:first-child .topUla .btn_la:hover {
          background: url(../img/icon.png) no-repeat 0px -143px; }
        #banner #ban2 section:first-child .topUla .btn_ra:hover {
          background: url(../img/icon.png) no-repeat 0px -256px; }
      #banner #ban2 section:first-child .topUla:hover .btn_la, #banner #ban2 section:first-child .topUla:hover .btn_ra {
        display: block; }
    #banner #ban2 section:last-child h2 {
      color: #616161;
      height: 28px;
      width: 540px;
      font-family: "iconfont";
      line-height: 30px;
      font-size: 14px;
      border-bottom: 2px solid #dd2b44; }
      #banner #ban2 section:last-child h2 i {
        color: #dd2b44; }
    #banner #ban2 section:last-child #lb-2 {
      height: 184px;
      width: 538px;
      margin-left: 0;
      position: relative;
      border: 1px solid #CCCCCC; }
      #banner #ban2 section:last-child #lb-2 #topUl {
        position: relative;
        height: 320px; }
        #banner #ban2 section:last-child #lb-2 #topUl li {
          position: absolute;
          top: 0;
          left: 0; }
          #banner #ban2 section:last-child #lb-2 #topUl li img {
            width: 134px;
            height: 184px;
            float: left; }
        #banner #ban2 section:last-child #lb-2 #topUl #btn_l {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0px -88px;
          position: absolute;
          left: 0px;
          top: 60px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban2 section:last-child #lb-2 #topUl #btn_r {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0 -199px;
          position: absolute;
          right: 0px;
          top: 60px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban2 section:last-child #lb-2 #topUl #btn_l:hover {
          background: url(../img/icon.png) no-repeat 0px -143px; }
        #banner #ban2 section:last-child #lb-2 #topUl #btn_r:hover {
          background: url(../img/icon.png) no-repeat 0px -256px; }
      #banner #ban2 section:last-child #lb-2 #topUl:hover #btn_l, #banner #ban2 section:last-child #lb-2 #topUl:hover #btn_r {
        display: block; }
      #banner #ban2 section:last-child #lb-2 #bottomUl {
        width: 150px;
        height: 8px;
        position: absolute;
        left: 196px;
        bottom: 5px;
        z-index: 19999;
        background: rgba(255, 255, 255, 0.1); }
        #banner #ban2 section:last-child #lb-2 #bottomUl li {
          width: 20px;
          height: 8px;
          background: #FFFFFF;
          float: left;
          margin-right: 5px;
          z-index: 10000; }
  #banner #ban3 {
    width: 208px;
    height: 494px;
    float: left;
    margin-left: 10px;
    border: 1px solid #CCCCCC; }
    #banner #ban3 section:nth-child(1) {
      width: 208px;
      height: 154px;
      background: aqua; }
      #banner #ban3 section:nth-child(1) .topUla {
        position: relative;
        height: 154px; }
        #banner #ban3 section:nth-child(1) .topUla li {
          position: absolute;
          top: 0;
          left: 0; }
          #banner #ban3 section:nth-child(1) .topUla li img {
            width: 208px;
            height: 154px; }
        #banner #ban3 section:nth-child(1) .topUla .btn_la {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0px -88px;
          position: absolute;
          left: 0px;
          top: 50px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban3 section:nth-child(1) .topUla .btn_ra {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0 -199px;
          position: absolute;
          right: 0px;
          top: 50px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban3 section:nth-child(1) .topUla .btn_la:hover {
          background: url(../img/icon.png) no-repeat 0px -143px; }
        #banner #ban3 section:nth-child(1) .topUla .btn_ra:hover {
          background: url(../img/icon.png) no-repeat 0px -256px; }
      #banner #ban3 section:nth-child(1) .topUla:hover .btn_la, #banner #ban3 section:nth-child(1) .topUla:hover .btn_ra {
        display: block; }
    #banner #ban3 section:nth-child(2) {
      width: 208px;
      height: 154px;
      background: #8A2BE2; }
      #banner #ban3 section:nth-child(2) .topUla {
        position: relative;
        height: 154px; }
        #banner #ban3 section:nth-child(2) .topUla li {
          position: absolute;
          top: 0;
          left: 0; }
          #banner #ban3 section:nth-child(2) .topUla li img {
            width: 208px;
            height: 154px; }
        #banner #ban3 section:nth-child(2) .topUla .btn_la {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0px -88px;
          position: absolute;
          left: 0px;
          top: 50px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban3 section:nth-child(2) .topUla .btn_ra {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0 -199px;
          position: absolute;
          right: 0px;
          top: 50px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban3 section:nth-child(2) .topUla .btn_la:hover {
          background: url(../img/icon.png) no-repeat 0px -143px; }
        #banner #ban3 section:nth-child(2) .topUla .btn_ra:hover {
          background: url(../img/icon.png) no-repeat 0px -256px; }
      #banner #ban3 section:nth-child(2) .topUla:hover .btn_la, #banner #ban3 section:nth-child(2) .topUla:hover .btn_ra {
        display: block; }
    #banner #ban3 section:nth-child(3) {
      width: 208px;
      height: 186px;
      background: #EE82EE; }
      #banner #ban3 section:nth-child(3) .topUla {
        position: relative;
        height: 186px; }
        #banner #ban3 section:nth-child(3) .topUla li {
          position: absolute;
          top: 0;
          left: 0; }
          #banner #ban3 section:nth-child(3) .topUla li img {
            width: 208px;
            height: 186px; }
        #banner #ban3 section:nth-child(3) .topUla .btn_la {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0px -88px;
          position: absolute;
          left: 0px;
          top: 60px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban3 section:nth-child(3) .topUla .btn_ra {
          height: 55px;
          width: 35px;
          background: url(../img/icon.png) no-repeat 0 -199px;
          position: absolute;
          right: 0px;
          top: 60px;
          z-index: 9999;
          opacity: 1;
          filter: alpha(opacity=0);
          display: none; }
        #banner #ban3 section:nth-child(3) .topUla .btn_la:hover {
          background: url(../img/icon.png) no-repeat 0px -143px; }
        #banner #ban3 section:nth-child(3) .topUla .btn_ra:hover {
          background: url(../img/icon.png) no-repeat 0px -256px; }
      #banner #ban3 section:nth-child(3) .topUla:hover .btn_la, #banner #ban3 section:nth-child(3) .topUla:hover .btn_ra {
        display: block; }
  #banner #ban4 {
    width: 176px;
    height: 494px;
    float: left;
    margin-left: 10px;
    border: 1px solid #CCCCCC; }
    #banner #ban4 section:nth-child(1) {
      text-align: center; }
      #banner #ban4 section:nth-child(1) img {
        margin: 22px 0 10px 0; }
      #banner #ban4 section:nth-child(1) p {
        font-size: 12px;
        margin-bottom: 6px; }
    #banner #ban4 section:nth-child(2) {
      overflow: auto; }
      #banner #ban4 section:nth-child(2) #btn-L, #banner #ban4 section:nth-child(2) #btn-R {
        width: 87px;
        height: 44px;
        color: #FFFFFF;
        font-size: 12px;
        border: 0;
        float: left;
        background: #ee2346; }
      #banner #ban4 section:nth-child(2) #btn-L {
        margin-right: 2px; }
    #banner #ban4 section:nth-child(3) {
      overflow: auto;
      text-align: center;
      border-bottom: 1px solid #f2f2f2;
      border-top: 1px solid #f2f2f2; }
      #banner #ban4 section:nth-child(3) h3 {
        color: #666;
        font-size: 12px;
        margin: 8px 0; }
      #banner #ban4 section:nth-child(3) #txt-QQ {
        width: 122px;
        height: 20px;
        float: left;
        margin-left: 5px;
        border: 1px solid #ccc;
        border-right: 0;
        margin-bottom: 5px; }
      #banner #ban4 section:nth-child(3) #btn-QQ {
        float: left;
        width: 44px;
        height: 22px;
        border: 0;
        background: #ee2346; }
    #banner #ban4 section:nth-child(4) {
      overflow: auto;
      border-bottom: 1px solid #CCCCCC; }
      #banner #ban4 section:nth-child(4) div {
        width: 27px;
        height: 30px;
        float: left;
        margin: 8px 15px 8px;
        background: url(../img/indexicos.png) no-repeat 0px -759px; }
      #banner #ban4 section:nth-child(4) div:nth-child(2) {
        background: url(../img/indexicos.png) no-repeat -29px -759px; }
      #banner #ban4 section:nth-child(4) div:nth-child(3) {
        border: 0;
        background: url(../img/indexicos.png) no-repeat -58px -759px; }
      #banner #ban4 section:nth-child(4) p {
        color: #666666;
        float: left;
        font-size: 12px;
        margin: 0 5px 8px; }
    #banner #ban4 #lb-6 img {
      width: 176px;
      height: 173px; }

#adsOne {
  height: 90px;
  margin-left: 44px;
  background: url(../img/ads1.jpg) no-repeat; }

#provider {
  height: 568px;
  padding-top: 10px; }
  #provider h2 {
    margin-left: 38px;
    overflow: auto; }
    #provider h2 span {
      font-size: 16px;
      color: #433b38;
      float: left;
      margin-bottom: 10px; }
    #provider h2 span:last-child {
      float: right;
      margin-right: 26px; }
  #provider table {
    margin-left: 37px; }
    #provider table tr td {
      width: 168px;
      height: 88px;
      border-bottom: 1px solid #CCCCCC;
      border-right: 1px solid #CCCCCC; }
    #provider table tr td:nth-child(1) {
      background-image: url(../img/gys11.jpg); }
    #provider table tr td:nth-child(2) {
      background-image: url(../img/gys12.jpg); }
    #provider table tr td:nth-child(3) {
      background-image: url(../img/gys13.jpg); }
    #provider table tr td:nth-child(4) {
      background-image: url(../img/gys14.jpg); }
    #provider table tr td:nth-child(5) {
      background-image: url(../img/gys15.jpg); }
    #provider table tr td:nth-child(6) {
      background-image: url(../img/gys16.jpg); }
    #provider table tr td:nth-child(7) {
      background-image: url(../img/gys17.jpg); }
    #provider table tr td:first-child {
      border-left: 1px solid #CCCCCC; }
    #provider table tr:nth-child(2) td:nth-child(1) {
      background-image: url(../img/gys21.jpg); }
    #provider table tr:nth-child(2) td:nth-child(2) {
      background-image: url(../img/gys22.jpg); }
    #provider table tr:nth-child(2) td:nth-child(3) {
      background-image: url(../img/gys23.jpg); }
    #provider table tr:nth-child(2) td:nth-child(4) {
      background-image: url(../img/gys24.jpg); }
    #provider table tr:nth-child(2) td:nth-child(5) {
      background-image: url(../img/gys25.jpg); }
    #provider table tr:nth-child(2) td:nth-child(6) {
      background-image: url(../img/gys26.jpg); }
    #provider table tr:nth-child(2) td:nth-child(7) {
      background-image: url(../img/gys27.jpg); }
    #provider table tr:nth-child(3) td:nth-child(1) {
      background-image: url(../img/gys31.jpg); }
    #provider table tr:nth-child(3) td:nth-child(2) {
      background-image: url(../img/gys32.jpg); }
    #provider table tr:nth-child(3) td:nth-child(3) {
      background-image: url(../img/gys33.jpg); }
    #provider table tr:nth-child(3) td:nth-child(4) {
      background-image: url(../img/gys34.jpg); }
    #provider table tr:nth-child(3) td:nth-child(5) {
      background-image: url(../img/gys35.jpg); }
    #provider table tr:nth-child(3) td:nth-child(6) {
      background-image: url(../img/gys36.jpg); }
    #provider table tr:nth-child(3) td:nth-child(7) {
      background-image: url(../img/gys37.jpg); }
    #provider table tr:nth-child(4) td:nth-child(1) {
      background-image: url(../img/gys41.jpg); }
    #provider table tr:nth-child(4) td:nth-child(2) {
      background-image: url(../img/gys42.jpg); }
    #provider table tr:nth-child(4) td:nth-child(3) {
      background-image: url(../img/gys43.jpg); }
    #provider table tr:nth-child(4) td:nth-child(4) {
      background-image: url(../img/gys44.jpg); }
    #provider table tr:nth-child(4) td:nth-child(5) {
      background-image: url(../img/gys45.jpg); }
    #provider table tr:nth-child(4) td:nth-child(6) {
      background-image: url(../img/gys46.jpg); }
    #provider table tr:nth-child(4) td:nth-child(7) {
      background-image: url(../img/gys47.jpg); }
    #provider table tr:nth-child(5) td:nth-child(1) {
      background-image: url(../img/gys51.jpg); }
    #provider table tr:nth-child(5) td:nth-child(2) {
      background-image: url(../img/gys52.jpg); }
    #provider table tr:nth-child(5) td:nth-child(3) {
      background-image: url(../img/gys53.jpg); }
    #provider table tr:nth-child(5) td:nth-child(4) {
      background-image: url(../img/gys54.jpg); }
    #provider table tr:nth-child(5) td:nth-child(5) {
      background-image: url(../img/gys55.jpg); }
    #provider table tr:nth-child(5) td:nth-child(6) {
      background-image: url(../img/gys56.jpg); }
    #provider table tr:nth-child(5) td:nth-child(7) {
      background-image: url(../img/gys57.jpg); }
    #provider table tr:nth-child(6) td:nth-child(1) {
      background-image: url(../img/gys61.jpg); }
    #provider table tr:nth-child(6) td:nth-child(2) {
      background-image: url(../img/gys62.jpg); }
    #provider table tr:first-child td {
      border-top: 1px solid #CCCCCC; }
    #provider table tr:last-child td:last-child {
      border-bottom: 0;
      border-right: 0;
      background: #fff; }

#adsTwo {
  height: 90px;
  margin-left: 44px;
  background: url(../img/ads2.jpg) no-repeat; }

#womenWear {
  height: 950px;
  padding-left: 44px; }
  #womenWear h2 {
    height: 30px;
    width: 100%;
    background: url(../img/indexicos.png) no-repeat 0px -1455px; }
  #womenWear #nzs section:first-child {
    overflow: auto; }
    #womenWear #nzs section:first-child div {
      float: left; }
  #womenWear #nzs section:last-child {
    width: 1184px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    border-top: 1px solid #EE2346;
    padding: 4px 0 4px 4px; }
    #womenWear #nzs section:last-child div {
      height: 228px;
      width: 228px;
      float: left;
      margin: 4px;
      background-size: 100%;
      position: relative; }
      #womenWear #nzs section:last-child div section {
        width: 224px;
        position: absolute;
        bottom: 0;
        border: 0;
        color: #FFFFFF;
        font-size: 12px;
        background: rgba(51, 51, 51, 0.6); }
        #womenWear #nzs section:last-child div section span {
          color: #EE2346; }
    #womenWear #nzs section:last-child div:nth-child(1) {
      background-image: url(../img/nz1.jpg); }
    #womenWear #nzs section:last-child div:nth-child(2) {
      background-image: url(../img/nz2.jpg); }
    #womenWear #nzs section:last-child div:nth-child(3) {
      background-image: url(../img/nz3.jpg); }
    #womenWear #nzs section:last-child div:nth-child(4) {
      background-image: url(../img/nz4.jpg); }
    #womenWear #nzs section:last-child div:nth-child(5) {
      background-image: url(../img/nz5.jpg); }
    #womenWear #nzs section:last-child div:nth-child(6) {
      background-image: url(../img/nz6.jpg); }
    #womenWear #nzs section:last-child div:nth-child(7) {
      background-image: url(../img/nz7.jpg); }
    #womenWear #nzs section:last-child div:nth-child(8) {
      background-image: url(../img/nz8.jpg); }
    #womenWear #nzs section:last-child div:nth-child(9) {
      background-image: url(../img/nz9.jpg); }
    #womenWear #nzs section:last-child div:nth-child(10) {
      background-image: url(../img/nz10.jpg); }

#menWear {
  height: 950px;
  padding-left: 44px; }
  #menWear h2 {
    height: 30px;
    width: 100%;
    background: url(../img/indexicos.png) no-repeat 0px -1495px; }
  #menWear #nzs section:first-child {
    overflow: auto; }
    #menWear #nzs section:first-child div {
      float: left; }
  #menWear #nzs section:last-child {
    width: 1184px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    border-top: 1px solid #EE2346;
    padding: 4px 0 4px 4px; }
    #menWear #nzs section:last-child div {
      height: 228px;
      width: 228px;
      float: left;
      margin: 4px;
      background-size: 100%;
      position: relative; }
      #menWear #nzs section:last-child div section {
        width: 224px;
        position: absolute;
        bottom: 0;
        border: 0;
        color: #FFFFFF;
        font-size: 12px;
        background: rgba(51, 51, 51, 0.6); }
        #menWear #nzs section:last-child div section span {
          color: #EE2346; }
    #menWear #nzs section:last-child div:nth-child(1) {
      background-image: url(../img/nzx1.jpg); }
    #menWear #nzs section:last-child div:nth-child(2) {
      background-image: url(../img/nzx2.jpg); }
    #menWear #nzs section:last-child div:nth-child(3) {
      background-image: url(../img/nzx3.jpg); }
    #menWear #nzs section:last-child div:nth-child(4) {
      background-image: url(../img/nzx4.jpg); }
    #menWear #nzs section:last-child div:nth-child(5) {
      background-image: url(../img/nzx5.jpg); }
    #menWear #nzs section:last-child div:nth-child(6) {
      background-image: url(../img/nzx6.jpg); }
    #menWear #nzs section:last-child div:nth-child(7) {
      background-image: url(../img/nzx7.jpg); }
    #menWear #nzs section:last-child div:nth-child(8) {
      background-image: url(../img/nzx8.jpg); }
    #menWear #nzs section:last-child div:nth-child(9) {
      background-image: url(../img/nzx9.jpg); }
    #menWear #nzs section:last-child div:nth-child(10) {
      background-image: url(../img/nzx10.jpg); }

#adsThree {
  height: 90px;
  margin-left: 44px;
  background: url(../img/ads3.jpg) no-repeat; }

#childrenWear {
  height: 950px;
  padding-left: 44px; }
  #childrenWear h2 {
    height: 30px;
    width: 100%;
    background: url(../img/indexicos.png) no-repeat 0px -1540px; }
  #childrenWear #nzs section:first-child {
    overflow: auto; }
    #childrenWear #nzs section:first-child div {
      float: left; }
  #childrenWear #nzs section:last-child {
    width: 1184px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    border-top: 1px solid #EE2346;
    padding: 4px 0 4px 4px; }
    #childrenWear #nzs section:last-child div {
      height: 228px;
      width: 228px;
      float: left;
      margin: 4px;
      background-size: 100%;
      position: relative; }
      #childrenWear #nzs section:last-child div section {
        width: 224px;
        position: absolute;
        bottom: 0;
        border: 0;
        color: #FFFFFF;
        font-size: 12px;
        background: rgba(51, 51, 51, 0.6); }
        #childrenWear #nzs section:last-child div section span {
          color: #EE2346; }
    #childrenWear #nzs section:last-child div:nth-child(1) {
      background-image: url(../img/tzx1.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(2) {
      background-image: url(../img/tzx2.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(3) {
      background-image: url(../img/tzx3.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(4) {
      background-image: url(../img/tzx4.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(5) {
      background-image: url(../img/tzx5.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(6) {
      background-image: url(../img/tzx6.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(7) {
      background-image: url(../img/tzx7.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(8) {
      background-image: url(../img/tzx8.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(9) {
      background-image: url(../img/tzx9.jpg); }
    #childrenWear #nzs section:last-child div:nth-child(10) {
      background-image: url(../img/tzx10.jpg); }

#underWear {
  height: 950px;
  padding-left: 44px; }
  #underWear h2 {
    height: 30px;
    width: 100%;
    background: url(../img/indexicos.png) no-repeat 0px -1582px; }
  #underWear #nzs section:first-child {
    overflow: auto; }
    #underWear #nzs section:first-child div {
      float: left; }
  #underWear #nzs section:last-child {
    width: 1184px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    border-top: 1px solid #EE2346;
    padding: 4px 0 4px 4px; }
    #underWear #nzs section:last-child div {
      height: 228px;
      width: 228px;
      float: left;
      margin: 4px;
      background-size: 100%;
      position: relative; }
      #underWear #nzs section:last-child div section {
        width: 224px;
        position: absolute;
        bottom: 0;
        border: 0;
        color: #FFFFFF;
        font-size: 12px;
        background: rgba(51, 51, 51, 0.6); }
        #underWear #nzs section:last-child div section span {
          color: #EE2346; }
    #underWear #nzs section:last-child div:nth-child(1) {
      background-image: url(../img/nzx1.jpg); }
    #underWear #nzs section:last-child div:nth-child(2) {
      background-image: url(../img/nzx2.jpg); }
    #underWear #nzs section:last-child div:nth-child(3) {
      background-image: url(../img/nzx3.jpg); }
    #underWear #nzs section:last-child div:nth-child(4) {
      background-image: url(../img/nzx4.jpg); }
    #underWear #nzs section:last-child div:nth-child(5) {
      background-image: url(../img/nzx5.jpg); }
    #underWear #nzs section:last-child div:nth-child(6) {
      background-image: url(../img/nzx6.jpg); }
    #underWear #nzs section:last-child div:nth-child(7) {
      background-image: url(../img/nzx7.jpg); }
    #underWear #nzs section:last-child div:nth-child(8) {
      background-image: url(../img/nzx8.jpg); }
    #underWear #nzs section:last-child div:nth-child(9) {
      background-image: url(../img/nzx9.jpg); }
    #underWear #nzs section:last-child div:nth-child(10) {
      background-image: url(../img/nzx10.jpg); }

#bag {
  height: 950px;
  padding-left: 44px; }
  #bag h2 {
    height: 30px;
    width: 100%;
    background: url(../img/indexicos.png) no-repeat 0px -1630px; }
  #bag #nzs section:first-child {
    overflow: auto; }
    #bag #nzs section:first-child div {
      float: left; }
  #bag #nzs section:last-child {
    width: 1184px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    border-top: 1px solid #EE2346;
    padding: 4px 0 4px 4px; }
    #bag #nzs section:last-child div {
      height: 228px;
      width: 228px;
      float: left;
      margin: 4px;
      background-size: 100%;
      position: relative; }
      #bag #nzs section:last-child div section {
        width: 224px;
        position: absolute;
        bottom: 0;
        border: 0;
        color: #FFFFFF;
        font-size: 12px;
        background: rgba(51, 51, 51, 0.6); }
        #bag #nzs section:last-child div section span {
          color: #EE2346; }
    #bag #nzs section:last-child div:nth-child(1) {
      background-image: url(../img/nzx1.jpg); }
    #bag #nzs section:last-child div:nth-child(2) {
      background-image: url(../img/nzx2.jpg); }
    #bag #nzs section:last-child div:nth-child(3) {
      background-image: url(../img/nzx3.jpg); }
    #bag #nzs section:last-child div:nth-child(4) {
      background-image: url(../img/nzx4.jpg); }
    #bag #nzs section:last-child div:nth-child(5) {
      background-image: url(../img/nzx5.jpg); }
    #bag #nzs section:last-child div:nth-child(6) {
      background-image: url(../img/nzx6.jpg); }
    #bag #nzs section:last-child div:nth-child(7) {
      background-image: url(../img/nzx7.jpg); }
    #bag #nzs section:last-child div:nth-child(8) {
      background-image: url(../img/nzx8.jpg); }
    #bag #nzs section:last-child div:nth-child(9) {
      background-image: url(../img/nzx9.jpg); }
    #bag #nzs section:last-child div:nth-child(10) {
      background-image: url(../img/nzx10.jpg); }

#adsFour {
  height: 90px;
  margin-left: 44px;
  background: url(../img/ads4.jpg) no-repeat; }

#oranment {
  height: 950px;
  padding-left: 44px; }
  #oranment h2 {
    height: 30px;
    width: 100%;
    background: url(../img/indexicos.png) no-repeat 0px -1674px; }
  #oranment #nzs section:first-child {
    overflow: auto; }
    #oranment #nzs section:first-child div {
      float: left; }
  #oranment #nzs section:last-child {
    width: 1184px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    border-top: 1px solid #EE2346;
    padding: 4px 0 4px 4px; }
    #oranment #nzs section:last-child div {
      height: 228px;
      width: 228px;
      float: left;
      margin: 4px;
      background-size: 100%;
      position: relative; }
      #oranment #nzs section:last-child div section {
        width: 224px;
        position: absolute;
        bottom: 0;
        border: 0;
        color: #FFFFFF;
        font-size: 12px;
        background: rgba(51, 51, 51, 0.6); }
        #oranment #nzs section:last-child div section span {
          color: #EE2346; }
    #oranment #nzs section:last-child div:nth-child(1) {
      background-image: url(../img/nzx1.jpg); }
    #oranment #nzs section:last-child div:nth-child(2) {
      background-image: url(../img/nzx2.jpg); }
    #oranment #nzs section:last-child div:nth-child(3) {
      background-image: url(../img/nzx3.jpg); }
    #oranment #nzs section:last-child div:nth-child(4) {
      background-image: url(../img/nzx4.jpg); }
    #oranment #nzs section:last-child div:nth-child(5) {
      background-image: url(../img/nzx5.jpg); }
    #oranment #nzs section:last-child div:nth-child(6) {
      background-image: url(../img/nzx6.jpg); }
    #oranment #nzs section:last-child div:nth-child(7) {
      background-image: url(../img/nzx7.jpg); }
    #oranment #nzs section:last-child div:nth-child(8) {
      background-image: url(../img/nzx8.jpg); }
    #oranment #nzs section:last-child div:nth-child(9) {
      background-image: url(../img/nzx9.jpg); }
    #oranment #nzs section:last-child div:nth-child(10) {
      background-image: url(../img/nzx10.jpg); }

#shoes {
  height: 950px;
  padding-left: 44px; }
  #shoes h2 {
    height: 30px;
    width: 100%;
    background: url(../img/indexicos.png) no-repeat 0px -1715px; }
  #shoes #nzs section:first-child {
    overflow: auto; }
    #shoes #nzs section:first-child div {
      float: left; }
  #shoes #nzs section:last-child {
    width: 1184px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    border-top: 1px solid #EE2346;
    padding: 4px 0 4px 4px; }
    #shoes #nzs section:last-child div {
      height: 228px;
      width: 228px;
      float: left;
      margin: 4px;
      background-size: 100%;
      position: relative; }
      #shoes #nzs section:last-child div section {
        width: 224px;
        position: absolute;
        bottom: 0;
        border: 0;
        color: #FFFFFF;
        font-size: 12px;
        background: rgba(51, 51, 51, 0.6); }
        #shoes #nzs section:last-child div section span {
          color: #EE2346; }
    #shoes #nzs section:last-child div:nth-child(1) {
      background-image: url(../img/nzx1.jpg); }
    #shoes #nzs section:last-child div:nth-child(2) {
      background-image: url(../img/nzx2.jpg); }
    #shoes #nzs section:last-child div:nth-child(3) {
      background-image: url(../img/nzx3.jpg); }
    #shoes #nzs section:last-child div:nth-child(4) {
      background-image: url(../img/nzx4.jpg); }
    #shoes #nzs section:last-child div:nth-child(5) {
      background-image: url(../img/nzx5.jpg); }
    #shoes #nzs section:last-child div:nth-child(6) {
      background-image: url(../img/nzx6.jpg); }
    #shoes #nzs section:last-child div:nth-child(7) {
      background-image: url(../img/nzx7.jpg); }
    #shoes #nzs section:last-child div:nth-child(8) {
      background-image: url(../img/nzx8.jpg); }
    #shoes #nzs section:last-child div:nth-child(9) {
      background-image: url(../img/nzx9.jpg); }
    #shoes #nzs section:last-child div:nth-child(10) {
      background-image: url(../img/nzx10.jpg); }

#adsFive {
  height: 90px;
  margin-left: 44px;
  background: url(../img/ads5.jpg) no-repeat; }

#attestation {
  height: 143px;
  padding: 43px 0 0 44px; }

#link {
  height: 194px;
  padding-top: 40px;
  border-top: 1px solid #CCCCCC; }
  #link #link-box {
    padding-left: 130px;
    float: left; }
    #link #link-box ul {
      float: left;
      margin-right: 120px; }
      #link #link-box ul li a {
        color: #666666;
        font-size: 12px; }
      #link #link-box ul li:first-child {
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px; }
  #link #ewm {
    float: left;
    margin-left: 90px; }
    #link #ewm h2 {
      color: #666666;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px; }
    #link #ewm img {
      width: 100px;
      height: 100px; }

#copyright {
  height: 130px;
  background: #3a3a3a;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 20px;
  border-top: 1px solid #EE2346; }
  #copyright p {
    margin-left: 20px; }
  #copyright #copy-box img {
    float: left;
    margin: 30px 143px 0; }

#bottom {
  height: 34px;
  background: #FFFFFF; }
